/* .为类选择器，所有组件中class="container" 的组件都会使用该样式 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 466px;
    height: 466px;
}
/* #为ID选择器，id为title的组件会使用该样式 */
#title {
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
}