{
  "sdks": [
    {
      "name": "internalSdk",
      "path": "./resources/internalSdk",
      "moduleName": ""
    },
    {
      "name": "ohosSdk",
      "path": "",
      "moduleName": ""
    },
    {
      "name": "hmsSdk",
      "path": "",
      "moduleName": ""
    },
    {
      "name": "thirdParty",
      "path": "./resources/thirdPartyModules",
      "moduleName": ""
    }
  ]
}