**/node_modules
build
dist
arkoala/tools/peer-generator/arkoala
**/package-lock.json
.vscode
**.code-workspace
.idea
**/target
**/cjpm.lock
**/CallsiteKey.o
sdk
interface_sdk-js
.ninja_log
**/.hvigor
**/js_output
**/command-line-tools
**/libs
**/*.abc
cachegrind.out.*
perf.data*

