**/node_modules
build
build-m3*
dist
arkoala/tools/peer-generator/arkoala
**/package-lock.json
.vscode
**.code-workspace
.idea
**/target
**/cjpm.lock
**/CallsiteKey.o
interface_sdk-js
.ninja_log
**/.hvigor
**/js_output
**/command-line-tools
**/libs
**/lib
!incremental/tools/ets-tsc/lib
**/*.abc
cachegrind.out.*
perf.data*
/ui2abc/memo-plugin/tests/out
*.tsbuildinfo
ui2abc/libarkts/lib
ui2abc/memo-plugin/lib
ui2abc/ui-plugins/lib
incremetal-cj/runtime/ck
.rollup.cache
tsconfig.tsbuildinfo
*.meta.json
.cache
out
sdk
koala_build.log
