name: harmonyos_codelabs
on:
  # https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches:
      - master
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITEE_USERNAME: ${{ secrets.GITEE_USERNAME }}
  GITEE_TOKEN: ${{ secrets.GITEE_TOKEN }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./harmonyos_codelabs.sh
      - run: git config --global user.email "rock.c.c.hu@gmail.com"
      - run: git config --global user.name "Rock Hu"
      - run: git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
      - run: git status
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: Rock Hu
          author_email: rock.c.c.hu@gmail.com
          message: "${{ github.action }} - ${{ github.run_number }}"
