name: openharmony
on:
# https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows
  schedule:
    - cron: '0 6 * * 1'
  push:
    branches:
      - master    
    paths:
      - 'openharmony.csv'      

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITEE_USERNAME: ${{ secrets.GITEE_USERNAME }}
  GITEE_TOKEN: ${{ secrets.GITEE_TOKEN }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./openharmony.sh
      - run: git config --global user.email "rock.c.c.hu@gmail.com"
      - run: git config --global user.name "Rock Hu"
      - run: git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
      - run: git status
      - run: git add .
      - run: git commit -m "${{ github.run_number }}"
      - run: git push  
      - run: ls -l      