name: openharmony-sig
on:
# https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows
  schedule:
    - cron: '0 4 * * 1'
  push:
    branches:
      - master    
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./openharmony-sig.sh
      - run: git config --global user.email "rock.c.c.hu@gmail.com"
      - run: git config --global user.name "Rock Hu"
      - run: git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git